/*header*/

.imagem-header {
    height: 40px;
}

.texto-link-barra {
    color: #50658e !important;
    text-decoration: none;
 }

 .texto-link-barra:hover {
     color: #2a81ea !important;
 }

 .link-botao {
     border: 1px solid;
     background-color: #2a81ea;
     text-align: center;
     width: 150;
     color: white !important;
     border-top-left-radius: 1.5rem!important;
     border-bottom-left-radius: 1.5rem!important;
     border-top-right-radius: 1.5rem!important;
     border-bottom-right-radius: 1.5rem!important;
     text-decoration: none !important;
 }

 /*Primeira Section*/
 img {
     max-width: 100%;
     height: auto;
 }

 .texto-ps {
     font-size: 5.25rem;
     color: #50658e;
     font-family: 'Roboto Slab', serif;
     position: relative;
 }

.tm-texto-ps {
    font-size: 1.4rem;
    font-family: 'Roboto Slab', serif;
    position: absolute;
    padding-top: 25px;
}

.tm2-texto-ps{
    font-size: 2.5rem;
    color: #50658e;
    font-family: 'Roboto Slab', serif;
}
.btn-home{
    margin-top: unset !important;
    width: auto;
    padding: 10px 20px 10px 20px;
    font-size: 0.8em;
    margin-left: 5px;
    margin-right: 10px;
}

/*Segunda section*/
.car-menu-ss{
    border: 1px solid #e7e8ff;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%);
}
.text-menu-ss {
    color: #50658e;
    font-size: 24px;
    border-bottom: 1px solid #e7e8ff !important;
}

.menu-ss {
    text-decoration: none !important;
    list-style: none;
    border-bottom: 1px solid #e7e8ff !important;
}
/*Terceira-Section*/
.borda-de-baixo {
    border-bottom: 6px solid #9cc2f7;
} 
.section-actions {
    list-style: none;
    text-decoration: none;
}
/*Quarta-Section*/
.Quarta-section {
    margin-top: 100px;
}
.fa-exclamation-triangle {
    font-size: 40px;
    color: #7fb3f2;
}

/* Sexta-Section*/
.fa-arrow-circle-right{
    color: #3dca93;
}

/*Oitava-section*/

.bg-gradient {
    background-image: linear-gradient( #0000FF, #8A2BE2);
}
.fundo-azul {
    background-color: #1b47a1 !important;
}

/*Nona-Section*/
.imagem-da-div {
    border: solid 2px ;
    position: relative;
}
.fa-times-circle {
    color: red !important;
    position: absolute;
    font-size: 20px;
}

.fa-check-circle {
    color: green;
    position: absolute;
    font-size: 20px;
}
 
.bg-rodape {
    background-image: url(http://demo.themenio.com/kovid19/assets/images/shape-c.png);
    background-color: #151c2e !important;;
}

.texto-decima-section {
    font-size: 20px;
}

@media (max-width: 320px) {
    .texto-ps {
        font-size: 2.5rem;
        color: #50658e;
        font-family: 'Roboto Slab', serif;
        position: relative;
    }
   
   .tm-texto-ps {
       font-size: 1.0rem;
       font-family: 'Roboto Slab', serif;
       position: absolute;
       padding-top: 10px;
   }
   
   .tm2-texto-ps{
       font-size: 1.2rem;
       color: #50658e;
       font-family: 'Roboto Slab', serif;
   }
}

@media (max-width: 375px) and (min-width: 321px){
    .texto-ps {
        font-size: 4.0rem;
        color: #50658e;
        font-family: 'Roboto Slab', serif;
        position: relative;
    }
   
   .tm-texto-ps {
       font-size: 0.7rem;
       font-family: 'Roboto Slab', serif;
       position: absolute;
       padding-top: 25px;
   }
   
   .tm2-texto-ps{
       font-size: 1.5rem;
       color: #50658e;
       font-family: 'Roboto Slab', serif;
   }
}

@media (max-width: 576px) and (min-width:  376px) {
    .texto-ps {
        font-size: 4.25rem;
        color: #50658e;
        font-family: 'Roboto Slab', serif;
        position: relative;
    }
   
   .tm-texto-ps {
       font-size: 1.0rem;
       font-family: 'Roboto Slab', serif;
       position: absolute;
       padding-top: 25px;
   }
   
   .tm2-texto-ps{
       font-size: 2.0rem;
       color: #50658e;
       font-family: 'Roboto Slab', serif;
   }
   .btn-link{
       font-size: 20px !important;
   }

   .texto-decima-section {
    font-size: 20px;
}
}

@media (max-width: 768px) and (min-width: 577px) {
    .fa-exclamation-triangle {
        font-size: 30px;
        color: #7fb3f2;
    }
}

@media (max-width: 992px) and (min-width: 769px) {    
    
}

@media (max-width: 1200px) and (min-width: 993px) {
    .texto-ps {
        font-size: 4.25rem;
        color: #50658e;
        font-family: 'Roboto Slab', serif;
        position: relative;
    }
   
   .tm-texto-ps {
       font-size: 1.0rem;
       font-family: 'Roboto Slab', serif;
       position: absolute;
       padding-top: 25px;
   }
   
   .tm2-texto-ps{
       font-size: 2.0rem;
       color: #50658e;
       font-family: 'Roboto Slab', serif;
   }
}

@media (min-width: 1201px) {
    
}