/*header*/

.imagem-header {
    height: 40px;
}

.texto-link-barra {
    color: #50658e !important;
    text-decoration: none;
 }

 .texto-link-barra:hover {
     color: #2a81ea !important;
 }

 .link-botao {
     border: 1px solid;
     background-color: #2a81ea;
     text-align: center;
     width: 150;
     color: white !important;
     border-top-left-radius: 1.5rem!important;
     border-bottom-left-radius: 1.5rem!important;
     border-top-right-radius: 1.5rem!important;
     border-bottom-right-radius: 1.5rem!important;
     text-decoration: none !important;
 }

 /*Primeira Section*/
 .imagem-ps {
     background-image: url(http://demo.themenio.com/kovid19/images/gfx/header-a.png);
     background-size: cover;
 }

 .texto-ps {
     font-size: 5.25rem;
     color: #50658e;
     font-family: 'Roboto Slab', serif;
     position: relative;
 }

.tm-texto-ps {
    font-size: 1.4rem;
    font-family: 'Roboto Slab', serif;
    position: absolute;
    padding-top: 25px;
}

.tm2-texto-ps{
    font-size: 2.5rem;
    color: #50658e;
    font-family: 'Roboto Slab', serif;
}
.btn-home{
    margin-top: unset !important;
    width: auto;
    padding: 10px 20px 10px 20px;
    font-size: 0.8em;
    margin-left: 5px;
    margin-right: 10px;
}
 @media (max-width: 320px) {
    .texto-ps {
        font-size: 2.5rem;
        color: #50658e;
        font-family: 'Roboto Slab', serif;
        position: relative;
    }
   
   .tm-texto-ps {
       font-size: 1.0rem;
       font-family: 'Roboto Slab', serif;
       position: absolute;
       padding-top: 10px;
   }
   
   .tm2-texto-ps{
       font-size: 1.2rem;
       color: #50658e;
       font-family: 'Roboto Slab', serif;
   }
}

@media (max-width: 375px) and (min-width: 321px){
    .texto-ps {
        font-size: 4.0rem;
        color: #50658e;
        font-family: 'Roboto Slab', serif;
        position: relative;
    }
   
   .tm-texto-ps {
       font-size: 0.7rem;
       font-family: 'Roboto Slab', serif;
       position: absolute;
       padding-top: 25px;
   }
   
   .tm2-texto-ps{
       font-size: 1.5rem;
       color: #50658e;
       font-family: 'Roboto Slab', serif;
   }
}

@media (max-width: 576px) and (min-width:  376px) {
    .texto-ps {
        font-size: 4.25rem;
        color: #50658e;
        font-family: 'Roboto Slab', serif;
        position: relative;
    }
   
   .tm-texto-ps {
       font-size: 1.0rem;
       font-family: 'Roboto Slab', serif;
       position: absolute;
       padding-top: 25px;
   }
   
   .tm2-texto-ps{
       font-size: 2.0rem;
       color: #50658e;
       font-family: 'Roboto Slab', serif;
   }
}

@media (max-width: 768px) and (min-width: 577px) {
}

@media (max-width: 992px) and (min-width: 769px) {    
    
}

@media (max-width: 1200px) and (min-width: 993px) {
    .texto-ps {
        font-size: 4.25rem;
        color: #50658e;
        font-family: 'Roboto Slab', serif;
        position: relative;
    }
   
   .tm-texto-ps {
       font-size: 1.0rem;
       font-family: 'Roboto Slab', serif;
       position: absolute;
       padding-top: 25px;
   }
   
   .tm2-texto-ps{
       font-size: 2.0rem;
       color: #50658e;
       font-family: 'Roboto Slab', serif;
   }
}

@media (min-width: 1201px) {
    
}